body{
    background: url(image/h.png);
    background-repeat:no-repeat;
    background-size:100% 2550%;
  }
button{
    background-color: green;
  width: 16.4%;
  font-size: 25px;
  color: white;
}

.Home{

}
